body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    flex: 20%;
    background-color: #6CA6CD;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido */
}

#sidebar-logo {
    max-width: 80%; /* Aumenta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;
}

#sidebar-menu {
    font-size: 30px;
    margin-top: auto; /* Mueve el menú al final de la barra lateral */
}

#sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

#sidebar-menu li {
    margin-bottom: 10px;
}

#sidebar-menu a {
    text-decoration: none;
    color: #fff;
}

#content {
    flex: 80%;
    padding: 20px;
}

#user-profile,
#other-users {
    margin-bottom: 30px;
}

#user-name {
    font-size: 32px;
    margin-bottom: 10px;
}

#bottom-buttons {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #87CEEB;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.button:hover {
    background-color: #5F9EA0;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para la tabla de administradores */
#home-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

#home-table th,
#home-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

#home-table th {
    background-color: #6CA6CD;
    color: #fff;
    font-size: 20px;
}


#home-table th button {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #87CEEB;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#home-table th button:hover {
    background-color: #5F9EA0;
}

/* Estilos para el formulario de ser administrador */
#admin-form {
    margin-top: 20px;
}

#admin-form label {
    display: block;
    margin-bottom: 10px;
}

#admin-form input {
    padding: 10px;
    width: 20%;
    margin-bottom: 15px;
}

#admin-form button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #87CEEB;
    cursor: pointer;
    border: none;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

#admin-form button:hover {
    background-color: #5F9EA0;
}

/* Estilos para el botón de cerrar sesión */
#btn_cerrar {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 8px;
    background-color:whitesmoke;
    cursor: pointer;
    border: none;
    color:   #6CA6CD;
    text-align: center;
    transition: background-color 0.3s ease;
}

#btn_cerrar:hover {
    background-color: #525252;
}
